body {
  background-color: paleturquoise;
}

.square {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  margin: 5px;
  border: 1px solid red;
}

.square-container {
  background-color: white;
  height: 40vh;
  padding: 10px;
  margin: 10px;

  /* MIEJSCE NA TWÓJ KOD */

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
