.testowy-paragraf,
.testowy-przycisk {
  color: #232db7;
  font-size: 15px;
  letter-spacing: 10px;
  text-decoration: underline;
  line-height: 30px;

  background-color: aqua;

  /* border: none; */

  border: 2px solid red;
  /* border-radius: lewy-górny prawy-gróny prawy-dolny lewy-dolny */

  /* zaokrąglanie poszczególnych narożników elmenetu */
  border-radius: 10px 20px 30px 40px;

  /* dwa sposoby na chowanie elememtu */
  /* display: none; */
  /* opacity: 0; */

  /* zmina "natury" elmenetu na liniową */
  /* display: inline; */
  display: inline-block;
  height: 200px;
  width: 400px;

  transition: background-color 0.5s;

  text-align: center;
}

/* :hover */
.testowy-przycisk:hover {
  background-color: bisque;
  cursor: pointer;
}

.testowy-paragraf:hover {
  background-color: #232db7;
}
